<div class="col-md-12">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron tutor-view">
		    <h2> <%= @person.firstname %>, <%= @person.lastname%></h2>
				<div class="row">
					<div class="col-md-3">
						<strong><%= @person.identification_type %></strong> 
					</div>
					<div class="col-md-6">
						<%= @person.identification_number %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<i class="mdi-hardware-phone-android"></i>
						<strong>Teléfono:</strong>
					</div>
					<div class="col-md-6">
						<%= @person.phone %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<i class="mdi-content-mail"></i>
						<strong>Email:</strong> 
					</div>
					<div class="col-md-6">
						<%= @person.email %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<i class="mdi-maps-pin-drop"></i>
						<strong>Calle:</strong> 
					</div>
					<div class="col-md-6">
						<%= @person.address['street'] %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<strong>N°:</strong> 
					</div>
					<div class="col-md-6">
						<%= @person.address['number'] %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<strong>Piso:</strong> 
					</div>
					<div class="col-md-6">
						<%= @person.address['floor'] %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<strong>Depto:</strong> 
					</div>
					<div class="col-md-6">
						<%= @person.address['flat'] %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<strong>Ciudad:</strong> 
					</div>
					<div class="col-md-6">
						<%= @person.address['city']['name'] %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<strong>Provincia:</strong> 
					</div>
					<div class="col-md-6">
						<%= @person.address['city']['state']['name'] %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<strong>País:</strong> 
					</div>
					<div class="col-md-6">
						<%= @person.address['city']['state']['country']['name'] %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<strong>Estudiantes a cargo:</strong> 
					</div>
					<div class="col-md-6">
						<%= @person.students %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
