<div class="col-md-12">
  <div class="row">
    <div class="tutor-container">
      <div class="col-md-3 tutor-name">
        <div class="page-header">
          <h2><strong><%= @person.firstname%>, <%= @person.lastname %></strong> <small> [ <%= @tutor.tutor_type['name']%> ] </small></h2>
          <p class="identification-type"><strong><%= @person.identification_type %> <%= @person.identification_number %></strong></p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="tutor-view">
          <p><i class="mdi-hardware-phone-android"></i> <strong>Teléfono: </strong><%= render_field @person.phone %></p>
          <p><i class="mdi-content-mail"></i> <strong>Correo electrónico:</strong> <%= render_field @person.email %></p>
          <p><i class="mdi-maps-pin-drop"></i><strong>Dirección:</strong> <%= render_address @person.address %></p>
        </div>
      </div>
      <legend></legend>
      <div class="col-md-12 tutor-child">
        <strong><h4><i class="mdi-social-school"></i>Estudiantes a cargo</h4></strong>
      </div>
      <% @tutor['students'].each do |student| %>

      <div class="col-md-3 children children1">
        <i class="mdi-action-account-circle"></i><span><%= link_to student['name'], student['_links']  %></span>
      </div>
      <% end %>
    </div>
	</div>
</div>
